<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="LOG_PATH" value="C:\Users\eggo\Projetos\GAWebOptimization\"/>
    <add key="LOG_FILE_NAME" value="trainoptimizer"/>
    <add key="POPULATION_SIZE" value="100"/>
    <add key="MUTATION_RATE" value="5"/>
    <add key="MAX_GENERATIONS" value="50"/>
    <add key="INITIAL_DATE" value="2015/06/10"/>
    <add key="LIMIT_DAYTIME" value="60"/>
    <add key="TRAIN_LEN" value="3500"/>
    <add key="MIN_MOV_SPEED_LIMIT" value="15"/>
    <add key="ALLOW_NO_DESTINATION_TRAIN" value="false"/>
    <add key="TRAIN_TYPE_ALLOWED" value=""/>
    <add key="INITIAL_VALID_COORDINATE" value=""/>
    <add key="END_VALID_COORDINATE" value=""/>
    <add key="VMA" value="80"/>
    <add key="M_TYPE" value="blue"/>
    <add key="C_TYPE" value="maroon"/>
    <add key="V_TYPE" value="maroon"/>
    <add key="T_TYPE" value="maroon"/>
    <add key="L_TYPE" value="maroon"/>
    <add key="A_TYPE" value="green"/>
    <add key="R_TYPE" value="green"/>
    <add key="J_TYPE" value="purple"/>
    <add key="P_TYPE" value="red"/>
  </appSettings>
  <connectionStrings>
    <add name="MYCONN" connectionString="server=localhost;uid=root;database=bdsgf;password=root;Convert Zero DateTime=True" providerName="MySql.Data.MySqlClient"/>
    <add name="USERMYCONN" connectionString="server=localhost;uid=myuser;database=bduser;password=mypassword;Convert Zero DateTime=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <!--<add assembly="MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>-->
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>